<h1>Select Flight</h1>
<p><%= @datee %></p>
<%= form_for(:flight, :action => :handle_form) do |f| %>
  <%= f.label :from %>
  <%= f.collection_select(:from, Airport.all, :id, :city) %>

  <%= f.label :to %>
  <%= f.collection_select(:to, Airport.all, :id, :city) %>

  <br />

  <%= f.label :passenger_count %>
  <%= f.number_field :passanger_count, min:1, max:4 %>

  <br />

  <%= f.label :day %>
  <%= f.date_field :pick_date, min: Date.today, max: @end_day %>

  <br />

  <%= f.submit :view_flights %>
<% end %>

<% if !@flights.empty? %>
  <ol>
    <% @flights.each do |f| %>
      <li>
        <b>From: </b><%= Airport.find(f.from_airport_id).city %> - <b>To: </b> <%= Airport.find(f.to_airport_id).city %>
        <br />
        <b>Take off time: </b> <%= f.take_off_time %> - <b>Arrival time: </b> <%= f.arrival_time %>
      </li>
      <hr />
    <% end %>
  </ol>
<% end %>